.card:hover {
    box-shadow: 5px 10px 20px 1px rgba(10, 10, 10, 0.4) !important;
    transition: all 0.7s ease-in-out;
}

.card-body {
    padding: 2rem 0 !important;
}

.card-text {
    padding: 0.3rem 1rem !important;
    font-size: 1rem !important;
}

.overflow {
    overflow: hidden;
}

.card-img-top {
    transition: all 0.7s ease-in-out;
}

.card-img-top:hover {
    transform: scale(1.1);
}